.next
node_modules
out
coverage
.DS_Store
*.log
dist

# macOS

# Xcode
DerivedData/
build/
*.xcworkspace
xcuserdata/

# Swift / general
*.tmp
*.tsbuildinfo

# Node (for web repos)
node_modules/
.next/
out/
